name: "bin-jail"
mode: ONCE

cwd: "/"
hostname: "sandbox"

time_limit: 5
max_cpus: 1

# resource limits
rlimit_as: 64
rlimit_cpu: 2
rlimit_stack: 8
rlimit_nofile: 32
rlimit_nproc: 1

clone_newnet: true
clone_newuser: true
clone_newpid: true
clone_newipc: true
clone_newuts: true

# disable mount namespace and /proc (Docker constraint)
clone_newns: false
mount_proc: false

uidmap {
  inside_id: "99999"
  outside_id: ""
  count: 1
}

gidmap {
  inside_id: "99999"
  outside_id: ""
  count: 1
}
